<section class="our-collection" id="collection">
    <div class="vyshyvanka-background">
    <div class="container">
        <h2 class="collection">Our collection</h2>
        <ul class="vyshyvanku">
            <li class="collection-list">
                <div class="collection-image">
    <img srcset="./img/collection1-mobile.jpg 335w,
        ./img/collection1-mobile@2x.jpg 670w,
        ./img/collection1-tablet.jpg 342w,
        ./img/collection1-tablet@2x.jpg 684w,
        ./img/collection1-desktop1280.jpg 347w,
        ./img/collection1-desktop1280@2x.jpg 694w,
        ./img/collection1-desktop1440.jpg 400w,
        ./img/collection1-desktop1440@2x.jpg 800w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
        src="./img/collection1-mobile.jpg" alt="Women's blouse Gorgany">

                </div>
                <div class="vyshyvanka">
                    <h3 class="vyshyvanka-product">AUGUST Poltava women's blouseRING</h3>
                    <p class="price">3300 UAH</p>
                </div>
            </li>

            <li class="collection-list">
<div class="collection-image">
    <img srcset="./img/collection2-mobile.jpg 335w,
    ./img/collection2-mobile@2x.jpg 670w,
    ./img/collection2-tablet.jpg 342w,
    ./img/collection2-tablet@2x.jpg 684w,
    ./img/collection2-desktop1280.jpg 347w,
    ./img/collection2-desktop1280@2x.jpg 694w,
    ./img/collection2-desktop1440.jpg 400w,
    ./img/collection2-desktop1440@2x.jpg 800w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
        src="./img/collection2-mobile.jpg" alt="Women's blouse Gorgany">

</div>
<div class="vyshyvanka">
    <h3 class="vyshyvanka-product">Women's blouse Gorgany</h3>
    <p class="price">3350 UAH</p>
</div>
            </li>
            <li class="collection-list">
<div class="collection-image">
    <img srcset="./img/collection3-mobile.jpg 335w,
        ./img/collection3-mobile@2x.jpg 670w,
        ./img/collection3-tablet.jpg 342w,
        ./img/collection3-tablet@2x.jpg 684w,
        ./img/collection3-desktop1280.jpg 347w,
        ./img/collection3-desktop1280@2x.jpg 694w,
        ./img/collection3-desktop1440.jpg 400w,
        ./img/collection3-desktop1440@2x.jpg 800w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
        src="./img/collection3-mobile.jpg" alt="Women's blouse Crimea">

</div>
    <div class="vyshyvanka">
        <h3 class="vyshyvanka-product">Women's blouse Crimea</h3>
        <p class="price">4000 UAH</p>
    </div>
            </li>
            <li class="collection-list">
<div class="collection-image">
    <img srcset="./img/collection4-mobile.jpg 335w,
        ./img/collection4-mobile@2x.jpg 670w,
        ./img/collection4-tablet.jpg 342w,
        ./img/collection4-tablet@2x.jpg 684w,
        ./img/collection4-desktop1280.jpg 347w,
        ./img/collection4-desktop1280@2x.jpg 694w,
        ./img/collection4-desktop1440.jpg 400w,
        ./img/collection4-desktop1440@2x.jpg 800w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
        src="./img/collection4-mobile.jpg" alt="Men's shirt Verkhovina">

</div>
    <div class="vyshyvanka">
        <h3 class="vyshyvanka-product">Men's shirt Verkhovina</h3>
        <p class="price">3100 UAH</p>
    </div>
            </li>
            <li class="collection-list">
<div class="collection-image">
    <img srcset="./img/collection5-mobile.jpg 335w,
        ./img/collection5-mobile@2x.jpg 670w,
        ./img/collection5-tablet.jpg 342w,
        ./img/collection5-tablet@2x.jpg 684w,
        ./img/collection5-desktop1280.jpg 347w,
        ./img/collection5-desktop1280@2x.jpg 694w,
        ./img/collection5-desktop1440.jpg 400w,
        ./img/collection5-desktop1440@2x.jpg 800w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
        src="./img/collection5-mobile.jpg" alt="Mountain men's shirt">

</div>
    <div class="vyshyvanka">
        <h3 class="vyshyvanka-product">Mountain men's shirt</h3>
        <p class="price">3300 UAH</p>
    </div>
            </li>
            <li class="collection-list">
<div class="collection-image">
    <img srcset="./img/collection6-mobile.jpg 335w,
        ./src/img/collection6-mobile@2x.jpg 670w,
        ./img/collection6-tablet.jpg 342w,
        ./img/collection6-tablet@2x.jpg 684w,
        ./img/collection6-desktop1280.jpg 347w,
        ./img/collection6-desktop1280@2x.jpg 694w,
        ./img/collection6-desktop1440.jpg 400w,
        ./img/collection6-desktop1440@2x.jpg 800w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
        src="./img/collection6-mobile.jpg" alt="Men's shirt Yasen">

</div>
    <div class="vyshyvanka">
        <h3 class="vyshyvanka-product">Men's shirt Yasen</h3>
        <p class="price">1700 UAH</p>
    </div>
            </li>
        </ul>
    </div>
    </div>
</section>