<section class="our-collection">
    <div class="container">
        <h2 class="collection">Our collection</h2>
        <ul class="vyshyvanku">
            <li class="collection-list">
                <div class="collection-image">

                </div>
            </li>
            <li class="collection-list">
<div class="collection-image">
<img srcset="">
</div>
            </li>
            <li class="collection-list">
<div class="collection-image">

</div>
            </li>
            <li class="collection-list">
<div class="collection-image">

</div>
            </li>
            <li class="collection-list">
<div class="collection-image">

</div>
            </li>
            <li class="collection-list">
<div class="collection-image">

</div>
            </li>
        </ul>
    </div>
</section>