<footer class="page-footer">
  <div class="container">
    <ul class="footer-menu">
      <li class="footer-menu-item">
        <a class="footer-menu-item-link" href="#about-us">about us</a>
      </li>
      <li class="footer-menu-item">
        <a class="footer-menu-item-link" href="#your-order">customer order</a>
      </li>
      <li class="footer-menu-item">
        <a class="footer-menu-item-link" href="#collection">our collection</a>
      </li>
      <li class="footer-menu-item">
        <a class="footer-menu-item-link" href="#Testimonials">testimonials</a>
      </li>
    </ul>
    <p class="footer-text">
      A touch of <span class="footer-text-span">Ukrainian</span> culture in
      every embroidery
    </p>
    <div class="background-image"></div>
  </div>
</footer>
