<header class="header">
  <div class="container header-container">
    <nav class="header-navigation"> 
        <a class="header-logo" href="../index.html">
        <img class="logo-image" 
        src="../img/logo.svg" 
        alt="vyshyvanka logo" width="44">
      </a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-link" href="#about-us">About us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#collection">Our collection</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#your-order">Customer order</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>

    <div class="header-social-btn-wrapper">
    <address class="header-contacts">
      <a class="header-phone" href="tel:+380684439426">
        +380 (68) 443-94-26</a>
    </address>      
      <ul class="header-social-list">
        <li class="header-social-item">
          <a class="header-social-link" href="https://www.facebook.com/goITclub/">
            <svg class="header-social-icon" width="28" height="28" aria-label="facebook icon">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a class="header-social-link" href="https://www.instagram.com/goitclub/">
            <svg class="header-social-icon" width="28" height="28" aria-label="instagram icon">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a class="header-social-link " href="https://www.youtube.com/c/GoIT">
            <svg class="header-social-icon" width="28" height="28" aria-label="youtube icon">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="burger-menu-btn" type="button" onclick="openNav()">
        <svg class="burger-icon" width="36" height="24">
          <use href="../img/icons.svg#icon-nav"></use>
        </svg>
      </button>
    </div>

  </div>
</header>


<!-- CURTAIN -->
<div class="overlay" id="curtain">
  <div class="overlay-container">
    <div class="overlay-first-row">
      <address class="overlay-contacts">
        <a class="overlay-phone" href="tel:+380684439426">
          +380 (68) 443-94-26</a>
      </address>
      <button class="close-button"
      onclick="closeNav()"  
      type="button">
        <svg class="close-button-icon" width="36" height="36" aria-label="modal close button">
          <use href="../img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="overlay-nav">
      <ul class="overlay-menu">
        <li class="overlay-menu-item">
          <a class="overlay-menu-link" href="#about-us">About us</a>
        </li>
        <li class="overlay-menu-item">
          <a class="overlay-menu-link" href="#collection">Our collection</a>
        </li>
        <li class="overlay-menu-item">
          <a class="overlay-menu-link" href="#your-order">Customer order</a>
        </li>
        <li class="overlay-menu-item">
          <a class="overlay-menu-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>
    <div class="overlay-background">    
    </div>
  </div>
</div>


<script>
  function openNav() {
    document.getElementById("curtain").style.width = "100%";
  }
  function closeNav() {
    document.getElementById("curtain").style.width = "0%";
  }
</script>