<section class="hero container section">
  <div class="hero-wrapper">
    <div class="hero-title-image-wrapper">
      <div class="hero-title-box">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="hero-title-span">Ukrainian</span>
          artistry in every stitch.
        </h1>
        <a class="hero-anchor" href="#your-order" aria-label="Order button"
          >Order
          <svg class="hero-icon-arrow" width="26">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        <svg class="hero-star-shine" width="52" height="51">
          <use href="./img/icons.svg#icon-star"></use>
        </svg>
      </div>
      <img
        class="hero-image-main"
        srcset="
          ./img/hero1-mobile.jpg              335w,
          ./img/hero1-tablet.jpg              413w,
          ./img/hero1-desktop1440-1280.jpg    392w,
          ./img/hero1-mobile@2x.jpg           670w,
          ./img/hero1-tablet@2x.jpg           826w,
          ./img/hero1-desktop1440-1280@2x.jpg 784w
        "
        sizes="(min-width: 1158px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        src="./img/hero1-mobile.jpg"
        alt="Girl in traditional Ukrainian vyshyvanka"
        width="335"
        height="545"
      />
    </div>
    <div class="hero-star-box">
      <svg class="hero-star-icon" width="52" height="51">
        <use href="./img/icons.svg#icon-star"></use>
      </svg>
      <p class="hero-star-text">all embroidery is made by hand</p>
    </div>
    <img
      class="hero-image-second"
      srcset="./img/hero2-tablet.png 1x, ./img/hero2-tablet@2x.png 2x"
      src="./img/hero2-tablet.png"
      alt="Map of Ukraine"
      width="139"
    />
  </div>
</section>
