<div class="container">
    <section class="section">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At aut ratione dolorem adipisci soluta amet nobis.
            Culpa, id. Nisi veritatis officia dolor necessitatibus corrupti adipisci minima ipsam accusamus deleniti,
            voluptates molestiae saepe aliquam ipsum corporis esse accusantium dignissimos consequatur modi eaque magni
            officiis pariatur culpa. Dignissimos debitis aut dolorem quae necessitatibus culpa sequi! Veritatis harum
            facere
            distinctio, quas consequuntur itaque dicta, assumenda iure laboriosam nihil repudiandae consequatur quam!
            Est,
            quae perferendis dolorum enim ab veritatis, laudantium nam ex libero delectus possimus cum cupiditate
            laboriosam! Ipsum, eum delectus facere repellendus ab pariatur eos laboriosam ut earum, alias non
            repudiandae
            beatae perferendis saepe ea numquam quis maxime? Praesentium, sit nesciunt! Repellat optio commodi dolor
            consequatur ad accusantium consequuntur libero, quos delectus ea, quia eligendi at obcaecati et aliquid
            blanditiis architecto, similique iusto natus temporibus exercitationem dicta voluptatum. Odio provident
            assumenda eius, nostrum laudantium exercitationem necessitatibus rem a explicabo placeat, ratione rerum,
            fugiat
            libero facilis quaerat doloremque temporibus ullam ducimus sed eligendi culpa magnam totam. Autem nesciunt
            nihil, eos, aut totam rerum, hic suscipit modi unde corrupti veritatis architecto. Nisi architecto
            reprehenderit
            adipisci natus ipsam voluptatibus aut tempore perferendis delectus fuga, repellat eos magnam itaque autem
            veniam? Cumque recusandae maiores eius reprehenderit tempora.</p>
    </section>
    <section class="section">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At aut ratione dolorem adipisci soluta amet nobis.
            Culpa, id. Nisi veritatis officia dolor necessitatibus corrupti adipisci minima ipsam accusamus deleniti,
            voluptates molestiae saepe aliquam ipsum corporis esse accusantium dignissimos consequatur modi eaque magni
            officiis pariatur culpa. Dignissimos debitis aut dolorem quae necessitatibus culpa sequi! Veritatis harum
            facere
            distinctio, quas consequuntur itaque dicta, assumenda iure laboriosam nihil repudiandae consequatur quam!
            Est,
            quae perferendis dolorum enim ab veritatis, laudantium nam ex libero delectus possimus cum cupiditate
            laboriosam! Ipsum, eum delectus facere repellendus ab pariatur eos laboriosam ut earum, alias non
            repudiandae
            beatae perferendis saepe ea numquam quis maxime? Praesentium, sit nesciunt! Repellat optio commodi dolor
            consequatur ad accusantium consequuntur libero, quos delectus ea, quia eligendi at obcaecati et aliquid
            blanditiis architecto, similique iusto natus temporibus exercitationem dicta voluptatum. Odio provident
            assumenda eius, nostrum laudantium exercitationem necessitatibus rem a explicabo placeat, ratione rerum,
            fugiat
            libero facilis quaerat doloremque temporibus ullam ducimus sed eligendi culpa magnam totam. Autem nesciunt
            nihil, eos, aut totam rerum, hic suscipit modi unde corrupti veritatis architecto. Nisi architecto
            reprehenderit
            adipisci natus ipsam voluptatibus aut tempore perferendis delectus fuga, repellat eos magnam itaque autem
            veniam? Cumque recusandae maiores eius reprehenderit tempora.</p>
    </section>
</div>