/* ---------------------------FOOTER STYLES------------------------------------------ */

/* ==========================MOBILE STYLES==================================== */
.page-footer {
  padding-top: 40px;
  position: relative;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  row-gap: 25px;
  margin-bottom: 40px;
}

.footer-menu-item:first-child {
  margin-right: 89px;
}

.footer-menu-item:last-child {
  margin-left: 40px;
}

.footer-menu-item-link {
  color: #fcf9f9;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.29;
}

.footer-text {
  color: #fcf9f9;
  font-size: 44px;
  line-height: 1.23;
}

.footer-text-span {
  color: #ecd979;
}

.background-image {
  background-image: url(../img/footer-background-mobile.png);
  height: 200px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 80px;
}

@media screen and (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2) {
  .background-image {
    background-image: url(../img/footer-background-mobile@2x.png);
    height: 200px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    max-width: 375px;
  }
}

/* ==========================/MOBILE STYLES==================================== */

/* ==========================TABLET STYLES==================================== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-menu {
    flex-wrap: nowrap;
    column-gap: 25px;
  }
  .footer-menu-item:first-child {
    margin: 0;
  }
  .footer-menu-item:last-child {
    margin: 0;
  }

  .background-image {
    background-image: url(../img/footer-background-tablet.png);
    position: absolute;
    height: 340px;
    width: 160px;
    top: 0%;
    right: 0%;
    margin: 0;
  }

  @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
    .background-image {
      background-image: url(../img/footer-background-tablet@2x.png);
      position: absolute;
      background-size: cover;
      height: 370px;
      width: 160px;
      top: 0%;
      right: 0%;
      margin: 0;
    }
  }
  .footer-menu {
    margin-bottom: 80px;
  }

  .footer-text {
    max-width: 521px;
    margin-bottom: 40px;
    font-size: 54px;
    line-height: 1.19;
  }
}

/* ==========================/TABLET STYLES==================================== */

/* ==========================DEKSTOP 1280PX STYLES==================================== */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .footer-menu {
    margin-bottom: 117px;
  }

  .footer-menu-item-link:hover,
  .footer-menu-item-link:focus {
    color: #ecd979;
  }

  .footer-text {
    font-size: 64px;
    line-height: 1.16;
    min-width: 810px;
  }
  .background-image {
    background-image: url(../img/footer-background-desktop1280.png);
    position: absolute;
    background-size: cover;
    width: 320px;
    top: 0%;
    right: 0%;
    margin: 0;
  }

  @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
    .background-image {
      background-image: url(../img/footer-background-desktop1280@2x.png);
      position: absolute;
      background-size: cover;
      width: 320px;
      top: 0%;
      right: 0%;
      margin: 0;
    }
  }
}
/* ==========================/DEKSTOP 1280PX STYLES==================================== */

/* ==========================DEKSTOP 1440PX STYLES==================================== */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .footer-menu-item-link:hover,
  .footer-menu-item-link:focus {
    color: #ecd979;
  }

  .background-image {
    background-image: url(../img/footer-background-desktop1440.png);
    position: absolute;
    background-size: cover;
    width: 490px;
    top: 0%;
    right: 0%;
    margin: 0;
  }

  @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
    .background-image {
      background-image: url(../img/footer-background-desktop1440@2x.png);
      position: absolute;
      background-size: cover;
      width: 490px;
      top: 0%;
      right: 0%;
      margin: 0;
    }
  }
}

/* ==========================/DEKSTOP 1440PX STYLES==================================== */

/* ---------------------------/FOOTER STYLES------------------------------------------ */
